.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 8px;
    padding: 1rem;
    bottom: 0;
    left: 0;
    @media screen and (max-width:900px){
        flex-direction: row;
    }
}
.social-icon{
    transition: all 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        svg{
            .social-svg-mask{
                fill: var(--secondary-color) !important;
                &:active{
                    fill:var(--white-color) !important;
                }
            }
        }
    }
}
