:root{
    --primary-color: #2c2c2c;
    --secondary-color: #dbbadd;
    --black-color:#030303;
    --lightGray-color:#e4e4e4;
    --gray-color:#b3b3b3;
    --brown-color:#a67f5e;
    --white-color:#fcfcfc;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background-color: var(--primary-color);
  color:var(--white-color);
}

::-webkit-scrollbar{
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-color);
}